
# deprecate
spring:
  dubbo:
    application:            #应用配置，用于配置当前应用信息，不管该应用是提供者还是消费者。
      name: dubbo-consumer
    registry:                 #注册中心配置，用于配置连接注册中心相关信息。
      address: zookeeper://127.0.0.1:2181
    scan: com.hollly.example  #服务暴露与发现消费所在的package


  application:
    name: dubbo-consumer

server:
  port: 7002


# dubbo 配置文件
dubbo:
  application: #应用配置，用于配置当前应用信息，不管该应用是提供者还是消费者。
    name: dubbo-consumer
  registry: #注册中心配置，用于配置连接注册中心相关信息。
    protocol: zookeeper
    address: zookeeper://127.0.0.1:2181
    parameters:
      registry-type: service
  scan:
    base-packages: com.hollly.example.service
